@model SachOnline.Models.KHACHHANG
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style type="text/css">
    img {
        width: 200px;
        margin-bottom: 20px;
    }

    h3, h4 {
        color: red;
        font-weight: bold;
    }
</style>
<h2>XÁC NHẬN THÔNG TIN CẦN XÓA</h2>
<h3>Bạn quyết định xóa khách hàng này?</h3>

<h4>@Html.Raw(ViewBag.ThongBao)</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Mã khách hàng:</dt>
        <dd>@Html.DisplayFor(model => model.MaKH) </dd>
        <dt>Tên khách hàng:</dt>
        <dd>@Html.DisplayFor(model => model.HoTen) </dd>
        <dt>Tài khoản:</dt>
        <dd>@Html.DisplayFor(model => model.TaiKhoan) </dd>
        <dt>Email:</dt>
        <dd>@Html.DisplayFor(model => model.Email) </dd>
        <dt>Điện thoại:</dt>
        <dd>@Html.DisplayFor(model => model.DienThoai) </dd>
        <dt>Địa chỉ:</dt>
        <dd>@Html.DisplayFor(model => model.DiaChi) </dd>
        <dt>Ngày sinh:</dt>
        <dd>@Html.DisplayFor(model => model.NgaySinh) </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="XÓA" class="btn btn-default" /> |
            @Html.ActionLink("VỀ TRANG QUẢN LÝ KHÁCH HÀNG", "Index")
        </div>
    }
</div>
