
@model SachOnline.Models.KHACHHANG
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style type="text/css">
    img {
        width: 200px;
        margin-bottom: 20px;
    }
</style>

<h2 style="text-align:center">CHI TIẾT KHÁCH HÀNG</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã khách hàng:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaKH)
        </dd>
        <dt>
            Tên khách hàng:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt>
            Tài khoản:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>
        <dt>
            Email:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Điện thoại:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt>
            Địa chỉ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt>
            Ngày sinh:
        </dt>
        <dd>
           
            @Html.FormatValue(@Model.NgaySinh, "{0:dd/MM/yyyy}")
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaKH }) |
    @Html.ActionLink("VỀ TRANG QUẢN LÝ KHÁCH HÀNG", "Index")
</p>
